* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('images/horarios.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    animation: water 10s infinite linear;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 10px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    margin-right: 10px;
    max-width: 100px;
  }
  
  h1 {
    text-align: center;
  }
  
  .header-right {
    display: flex;
  }
  
  .header-right a {
    margin-left: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .selector,
  .form-group {
    margin-right: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  select,
  input {
    padding: 5px;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f90606;
    color: #e0e0e6;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f90606;
    color: #e0e0e6;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }  
  
  .horario {
    margin-top: 20px;
    font-size: 18px;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px solid #a2e409;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px solid #db1010;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    color: white;
  }
  